@font-face {
    font-family: "Galano Grotesque";
    src: url('/fonts/galano-grotesque/Galano_Grotesque.otf');
}

@font-face {
    font-family: "Acumin Pro";
    src: url('/fonts/Acumin-Pro/Acumin-Pro/Acumin_Pro_Book.otf');
}

/*
logo gold:
#f5bf9b

logo dark gold:
#b78c79

logo navy purple:
#1c1a27

darker navy purple:
#141122

lighter navy purple:
#565367

new teal:
#629B91

lighter teal blend:
#53B7BF

turqoise:
#43D3ED

old gold:
#e0c387
*/

.custom-shape-divider-top-1642532258 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.custom-shape-divider-top-1642532258 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 52px;
}

.custom-shape-divider-top-1642532258 .shape-fill {
    fill: #1C1A27;
}

.custom-shape-divider-bottom-1642534089 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1642534089 svg {
    position: relative;
    display: block;
    width: calc(149% + 1.3px);
    height: 40px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1642534089 .shape-fill {
    fill: #1C1A27;
}

.green-gradient {
    font-weight: bold;
    background: -webkit-linear-gradient(#629B91, #53B7BF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dancing-text {
    background: url("/images/pointe-shoes.gif");
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: 0% 55%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
}

/*p {*/
/*    font-size: 1.25em;*/
/*}*/

.font-monty { font-family: 'Montserrat', sans-serif; }
.font-play { font-family: 'Playfair Display', sans-serif; }
.font-damion { font-family: 'Damion', cursive; }
.font-g { font-family: 'Galano Grotesque'; }
.font-a { font-family: 'Acumin Pro'; }

.sou-title {
    font-family: 'Galano Grotesque'; font-size: 6em; line-height: 1.618em; text-transform: uppercase;
}

.sou-text {
    font-family: 'Acumin Pro'; font-size: 1.275em; line-height: 1.618em;
}

.sou-title-sm {
    font-family: 'Galano Grotesque'; font-size: 3.5em; line-height: 1.618em; text-transform: uppercase;
}

.gray-grad {
    background: -webkit-gradient(linear, left top, left bottom, from(#D3D3D3), to(#BDBDBD));
    background: linear-gradient(to bottom, #D3D3D3, #BDBDBD);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    line-height: .75 !important;
    font-weight: bold !important;
}

.text-warm {
    color: #e7717d;
}

.bg-warm {
    background: transparent !important;
}

.btn-info {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#43d3ed), to(#007a9b));
    background-image: linear-gradient(#43d3ed, #007a9b);
    border-top: 6px solid #43d3ed !important;
    border-left: 6px solid #43d3ed !important;
    border-bottom: 6px solid #007a9b !important;
    border-right: 6px solid #007a9b !important;
    -webkit-transition: border-left 0.4s ease, border-top 0.8s ease, border-right 1.2s ease, border-bottom 1.6s ease, background 2s ease !important;
    transition: border-left 0.4s ease, border-top 0.8s ease, border-right 1.2s ease, border-bottom 1.6s ease, background 2s ease !important;
}

.btn-info:hover {
    border-top: 6px solid #f5bf9b !important;
    border-right: 6px solid #f5bf9b !important;
    border-bottom: 6px solid #f5bf9b !important;
    border-left: 6px solid #f5bf9b !important;
    background: #f5bf9b !important;
}

.navbar a:not(#refer-claim) {
    width: 0%;
    background: transparent;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navbar a:hover:not(#refer-claim) {
    width: 100%;
    background: #f5bf9b;
}

.border-silver,
.text-silver {
    color: #c2cad0 !important;
}

#spacing {
    letter-spacing: -3.25px;
}

.section-gray {
    min-height: 100vh;
    color: white;
    padding-bottom: 50px;
    /*background: #1a1a1a;*/
    background: #1c1a27;
}

.section-navy-purple {
    background: #1c1a27;
    min-height: 100vh;
    color: white;
    padding-bottom: 50px;
}


.bg-gray {
    /*background: #1a1a1a !important;*/
    background: #1c1a27 !important;
}

.bg-golden {
    background: #f5bf9b;
}

.txt-golden {
    color: #f5bf9b;
}

.rally-txt {
    color: #22A7C4 !important;
    font: inherit;
    background: black;
    padding: 2px;
    border-right: 2px;
    font-size: 1em !important;
}

.section-blue {
    width: 100%;
    background: -webkit-gradient(linear, right top, left bottom, from(#43d3ed), to(#007a9b));
    background: linear-gradient(to bottom left, #43d3ed, #007a9b);
    color: white;
    min-height: 100vh;
    padding-bottom: 50px;
}

.link-blue,
.txt-blue {
    color: #22A7C4;
}

.link-blue:hover {
    text-decoration: none;
    color: #007a9b;
}

.section-color,
.section-color-img {
    width: 100%;
    /*background: linear-gradient(to bottom left, #e7717d, #f8a38e);*/
    background: -webkit-gradient(linear, right top, left bottom, from(#b78c79), to(#f5bf9b));
    background: linear-gradient(to bottom left, #b78c79, #f5bf9b);
    /*background: linear-gradient(to bottom left, #43d3ed, #007a9b);*/
    /*background: linear-gradient(to bottom left, #53B7BF, #629B91);*/
    /*background: #629B91;*/
    color: white;
}

.section-color {
    min-height: 100vh;
    padding-bottom: 50px;
}

.section-color-img {
    height: 100%;
}

#formContact {
    width: auto;
}

.text-opaque {
    color: rgba(255, 255, 255, 0.87);
}

video {
    width: 100%;
}

.carousel-controls {
    position: relative;
    top: 20px;
    margin: 0 auto;
}

.carousel-controls-top {
    position: relative;
    bottom: 20px;
    margin: 0 auto;
}

.carousel-controls a:hover,
.carousel-controls-top a:hover {
    color: white !important;
    cursor: pointer;
}

/* PRICING */

#pricing {
    background: #1a1a1a;
}

#pricing .card {
    border: 3px solid #007a9b;
    -webkit-box-shadow: -2px 1px 4px #f5bf9b;
    box-shadow: -2px 1px 4px #f5bf9b;
}

#pricing .card-title {
    background: #007a9b;
    color: #f5bf9b;
    font-size: 1.75rem;
    font-weight: bold;
}

#plat {
    color: #E5E4E2 !important;
    -webkit-text-fill-color: transparent !important;
    background: -webkit-linear-gradient(transparent, transparent), url("/images/diamond-bg.jpg") repeat !important;
    background-clip: border-box, border-box !important;
    background: -o-linear-gradient(transparent, transparent) !important;
    -webkit-background-clip: text !important;
}

.plat-plus {
    text-shadow: 2px 2px 18px white;
}

.new-offer a {
    color: black;
}

.new-offer {
    background-image: -webkit-gradient(linear, left top, right top, from(#f5bf9b), to(white));
    background-image: linear-gradient(to right, #f5bf9b, white);
    border-left: 5px solid #f5bf9b;
}

input, button, submit {
    border:none;
    background: transparent;
    color: white;
}

.text-black {
    color: black;
}

.layout-frame {
    height: 450px;
    width: 100%;
    overflow-y: scroll;
    -webkit-box-shadow: 4px 4px 8px #1a1a1a,
    -2px -2px 4px rgba(255, 255, 255, 0.87);
    box-shadow: 4px 4px 8px #1a1a1a,
    -2px -2px 4px rgba(255, 255, 255, 0.87);
}

.feature {
    /*background: #e7717d;*/
    background: -webkit-gradient(linear, right top, left bottom, from(#b78c79), to(#f5bf9b));
    background: linear-gradient(to bottom left, #b78c79, #f5bf9b);
    padding: 10px 5px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
}

.feature-gray {
    /*background: #1c1a27;*/
    background: #1c1a27;
    padding: 10px 5px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
}

.feature-blue {
    background: #43d3ed;
    padding: 10px 5px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
}

.extra-price {
    font-size: 2em;
    /*color: #e7717d;*/
    color: #f5bf9b;
    /*background: #1a1a1a;*/
    background: #1c1a27;
    padding-right: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.extra-price span,
.extra-price-peach span {
    text-decoration: line-through;
    font-size: 0.6em;
    opacity: 0.6;
}

.extra-price-peach {
    font-size: 2em;
    /*color: #1a1a1a;*/
    color: #1c1a27;
    /*background: #e7717d;*/
    background: -webkit-gradient(linear, right top, left bottom, from(#b78c79), to(#f5bf9b));
    background: linear-gradient(to bottom left, #b78c79, #f5bf9b);
    padding-right: 10px;
    border-radius: 10px;
    font-weight: 600;
}

.cyber-txt {
    font-family: 'Goldman', cursive;
    color: #00eb00;
}

.new-year-txt {
    font-family: 'Big Shoulders Text', cursive;
    color: #FFD100;
    font-size: 1.5em;
}

.bg-cyber {
    background: -webkit-gradient(linear, left top, left bottom, from(#000300), to(#1a1a1a));
    background: linear-gradient(to bottom, #000300, #1a1a1a);
}

.cyber-strike {
    text-decoration: line-through;
    opacity: 60%;
}

.badge-dark {
    color: #FFD100 !important;
    background: #1a1a1a !important;
    font-size: 1em !important;
}

.highlight-seo {
    font-family: 'Damion', cursive;
    color: #33444e;
    text-shadow: 0 0 0 #dfdfc3;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.highlight-more {
    font-family: 'Damion', cursive;
    color: #2F3D45;
    text-shadow: 0 0 10px #dfdfc3;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

#seo-page ion-icon {
    font-size: 5em;
}

.link-underline a {
    color: white;
    text-decoration: underline;
}

#popular-item {
    /*text-transform: uppercase;*/
    padding: 0 10px;
    font-family: 'Big Shoulders Text', cursive;
    color: #FFD100;
    background: black;
    text-align: center;
    z-index: 3;
    position: absolute;
    top: -30px;
    border-radius: 8px;
}

.bar {
    height: 30px;
    width: 100%;
    background: gray;
    position: relative;
}

.progress-bars {
    height: 100% !important;
    background: #e7717d !important;
    border: 2px solid lightgray;
}

.hrs-13 { width: 13%; }
.hrs-21 { width: 21%; }
.hrs-25 { width: 25%; }
.hrs-28 { width: 28%; }
.hrs-35 { width: 35%; }
.hrs-50 { width: 50%; }
.hrs-75 { width: 75%; }
.hrs-85 { width: 85%; }
.hrs-93 { width: 93%; }
.hrs-100 { width: 100%; }

.hrs-0 { width: 0%; color: transparent; }
.hrs-15 { width: 25%; }
.hrs-30 { width: 50%; }
.hrs-45 { width: 75%; }
.hrs-60 { width: 100%; }

.graph-0 { height: 1px; }
.graph-15 { height: 15px; }
.graph-30 { height: 30px; }
.graph-45 { height: 45px; }
.graph-60 { height: 60px; }
.graph-75 { height: 75px; }
.graph-90 { height: 90px; }
.graph-105 { height: 105px; }
.graph-120 { height: 120px; }
.graph-135 { height: 135px; }
.graph-150 { height: 150px; }

.graph {
    width: 100%;
    background: #e7717d;
    border-radius: 0 0 3px 3px;
}

.hourly-block {
    opacity: 0;
}

.divider {
    height: 1px;
    width: 100%;
    border-top: #007a9b 2px dashed;
}


/* animate play */

#intro-gray {
    color: white;
    -webkit-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

#intro-gray.active {
    background: RGBA(26, 26, 26, 1);
}

.animate-color {
    width: 100%;
    background: #1a1a1a;
    color: white;
    min-height: 100vh;
    padding-bottom: 50px;
    -webkit-transition: 0.8s background linear;
    transition: 0.8s background linear;
}

.animate-color.decolor {
    background: #e7717d;
}

.bcg-parallax {
    padding: 200px 0;
    color: #fff;
    background-color: #000;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.bcg {
    background: url("/images/dance-studio-websites.jpg") no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: bottom;
    position: absolute;
    width: 100%;
    height: 150%;
    top: 0;
    z-index: 1;
    opacity: 0.7;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    z-index: 2;
}

/* sprite play */

.scene {
    height: 960px;
    width: 100%;
}

.scene-two {
    height: 1067px;
    width: 100%;
}

.scene-swing, .scene-fall {
    height: 650px;
    width: 100%;
}

.scene-first {
    height: 900px;
    width: 100%;
}

.viewer {
    padding-top: 100px;
    height: 500px;
    max-width: 540px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.viewer-two {
    padding-top: 100px;
    height: 500px;
    max-width: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.viewer-swing, .viewer-fall {
    height: 650px;
    max-width: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0 50%;
    /*transform: translateY(-50px);*/
}

.viewer-first {
    height: 900px;
    /*max-width: 600px;*/
    width: 600.25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    /*transform: translateY(-50px);*/
}

.viewer {background-image: url('/images/spin-sprite.png');}
.viewer-two {background-image: url('/images/snow-sprite.png');}

.viewer-swing {background-image: url('/images/swing.png');}
.viewer-fall {background-image: url('/images/fall.png');}
.viewer-first {background-image: url('/images/burst-shot.jpg');}


.texture-parallax {
    padding: 200px 0;
    color: #fff;
    background-color: #000;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.content-texture-wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    z-index: 2;
}

.bg-texture {
    background: url("/images/dance-studio-websites-bg.jpg") no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: bottom;
    position: absolute;
    width: 100%;
    height: 150%;
    top: 0;
    z-index: 1;
    opacity: 0.7;
}

.animate-recital {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

.recital-go {
    -webkit-transform: translate(0px) !important;
    transform: translate(0px) !important;
    opacity: 1 !important;
}


#section-seo-links {
    background: -webkit-gradient(linear, left bottom, left top, from(#141122), to(#1c1a27));
    background: linear-gradient(to top, #141122, #1c1a27);
    color: rgba(255, 255, 255, 0.8);
}

.seo-link {
    color: white;
}

.seo-link:hover {
    color: white;
    text-decoration: underline;
}

.quiz-box {
    width: 100%;
}

.quiz-box h3 {
    text-align: center;
}

.port-numbers {
    border: 1px solid white;
    border-radius: 4px;
}

.port-numbers:hover {
    background: #1a1a1a;
}

.icon-hover:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #f5bf9b;
}

.icon-hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

/*.logo-bg {*/
/*    background-image: url("/images/denlie-logo-cropped.png");*/
/*    background-position: center;*/
/*    background-size: contain;*/
/*    background-attachment: scroll;*/
/*    background-repeat: no-repeat;*/
/*    height: 100%;*/
/*    width: auto;*/
/*}*/

/*.sliced-dancer {*/
/*    background-image: url("/images/sliced-dancer-1.png");*/
/*    background-position: left;*/
/*    background-size: contain;*/
/*    background-attachment: fixed;*/
/*    background-repeat: no-repeat;*/
/*    width: 1563px;*/
/*    height: 2381px;*/
/*    opacity: 50%;*/
/*}*/

/*.sliced-dancer-2 {*/
/*    background-image: url("/images/sliced-dancer-2a.png");*/
/*    background-position: right;*/
/*    background-size: contain;*/
/*    background-attachment: fixed;*/
/*    background-repeat: no-repeat;*/
/*    width: 1563px;*/
/*    height: 2381px;*/
/*}*/

/*.hive {*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    transform: rotate(4deg);*/
/*    background: #fcd850;*/
/*    !*box-shadow: 2px 2px 5px #e5b702;*!*/
/*    margin: 30px;*/
/*}*/

.hive-darken {
    -webkit-box-shadow: 2px 2px 5px #e5b702;
    box-shadow: 2px 2px 5px #e5b702;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.hive-animate {
    -webkit-box-shadow: 2px 2px 5px #e5b702;
    box-shadow: 2px 2px 5px #e5b702;
    -webkit-transform: rotate(10deg) translateY(-25px);
    transform: rotate(10deg) translateY(-25px);
}

.hive {
    width: 100px;
    height: 57.735px;
    background: #fcd850;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px #e5b702;
    box-shadow: 2px 2px 5px #e5b702;
    margin: 70px 0;
}
.hive::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #fcd850;
}
.hive::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #fcd850;
}

.bg-welcome {
    background-image: url("/images/bg-welcome.jpg");
    background-position: center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
    position: relative;
}

.bg-welcome-shader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: #1C1A27;*/
    background: white;
    opacity: 0;
}

.portfolio-crop {
    height: 272px;
    /*width: 100%;*/
    overflow-y: hidden;
    border: 4px solid white;
}

.portfolio-crop-mobile {
    height: 90px;
    /*width: 100%;*/
    overflow-y: hidden;
    border: 4px solid white;
}

.portfolio-crop img {
    width: 100%;
}

.pointe-banner-wrap {
    height: 500px;
    width: 100%;
}

.pointe-banner {
    background: url("/images/pointe-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
    width: 100%;
}

.ff-social {
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
}

.ff-social ion-icon:hover {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    color: #f5bf9b;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bg-welcome, .pointe-banner {
        background-attachment: fixed !important;
    }
}
