<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shadow Abyss Realm | Home</title>
	<link rel="stylesheet" type="text/css" href="shadow-style.css">
</head>
<body>

	<header>
		<h1>Shadow Abyss Realm</h1>
		<img class="banner" src="lightning-banner.jpg">
	</header>

	<section class="main-section">
		<div class="navigation">
			<ul> <strong>Main</strong>
				<a href="shadow-abyss-realm.html"><li>Portal</li></a>
				<a href="home.html"><li>Home</li></a>
				<a href="rules.html"><li>Rules</li></a>
				<a href="join.html"><li>Join</li></a>
				<a href="members.html"><li>Members</li></a>
				<a href="levels.html"><li>Levels</li></a>
				<a href="teachers.html"><li>Move Teachers</li></a>
				<a href="shop.html"><li>Tournaments & Shop</li></a>
				<a href="link-to-me.html"><li>Link To Me</li></a>
			</ul>
			<ul> <strong>Multimedia</strong>
				<a href="images.html"><li>Images</li></a>
				<a href="#"><li>Clips</li></a>
			</ul>
			<ul> <strong>Links</strong>
				<a href="#"><li>AIM</li></a>
				<a href="#"><li>Neopets</li></a>
			</ul>
		</div>
		<div class="home-text">
			<div class="news">
				<h2>Blade Zular</h2>
				<img src="bladezular.jpg">
				<p>

Name: Blade Zular
<br>Age: 21
<br>Race: half saiyan/half god
<br>Alignment: good
<br>Siblings: none
<br>Marital Status: single
<br>Children: none
<br>Moves: oozaru, oozaru control, prism of 7, prism of 7 storm of tourment, false moon, diamond dragon fist.
<br>Transformations: none
<br>Level: 50,000
<br>Extra: A prince of the last of his people.He wasn't always a saiyan until he met Goten long ago.Goten beat Blade's diamond sword and locked Blade away forever.He was able to be freed,but was part saiyan.Then he went to the after world where he met the worst villans,janemba,freiza,cell,the ginyu force,and buu.King Yemma was in danger and Blade saved his live.King Yemma sent him to meet the Dai Kai who made him a god.
<br>AIM: Blade Zular
				</p>
				
			</div>
		</div>
	</section>

	<footer>
		<p>Email: ultimate_saiyan@cox.net</p>
	</footer>

</body>
</html>