<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shadow Abyss Realm | Home</title>
	<link rel="stylesheet" type="text/css" href="shadow-style.css">
</head>
<body>

	<header>
		<h1>Shadow Abyss Realm</h1>
		<img class="banner" src="lightning-banner.jpg">
	</header>

	<section class="main-section">
		<div class="navigation">
			<ul> <strong>Main</strong>
				<a href="shadow-abyss-realm.html"><li>Portal</li></a>
				<a href="home.html"><li>Home</li></a>
				<a href="rules.html"><li>Rules</li></a>
				<a href="join.html"><li>Join</li></a>
				<a href="members.html"><li>Members</li></a>
				<a href="levels.html"><li>Levels</li></a>
				<a href="teachers.html"><li>Move Teachers</li></a>
				<a href="shop.html"><li>Tournaments & Shop</li></a>
				<a href="link-to-me.html"><li>Link To Me</li></a>
			</ul>
			<ul> <strong>Multimedia</strong>
				<a href="images.html"><li>Images</li></a>
				<a href="#"><li>Clips</li></a>
			</ul>
			<ul> <strong>Links</strong>
				<a href="#"><li>AIM</li></a>
				<a href="#"><li>Neopets</li></a>
			</ul>
		</div>
		<div class="home-text">
			<div class="news">
				<h2>Martial Arts</h2>
				
				<div class="img-grid">
					<div class="img-col">
						<img src="fight1.jpg">
						<img src="fight2.jpg">
						<img src="fight3.jpg">
					</div>
					<div class="img-col">
						<img src="fight4.jpg">
						<img src="fight5.jpg">
						<img src="fight6.jpg">
					</div>
				</div>
			
			</div>
		</div>
	</section>

	<footer>
		<p>Email: ultimate_saiyan@cox.net</p>
	</footer>

</body>
</html>