<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shadow Abyss Realm | Home</title>
	<link rel="stylesheet" type="text/css" href="shadow-style.css">
</head>
<body>

	<header>
		<h1>Shadow Abyss Realm</h1>
		<img class="banner" src="lightning-banner.jpg">
	</header>

	<section class="main-section">
		<div class="navigation">
			<ul> <strong>Main</strong>
				<a href="shadow-abyss-realm.html"><li>Portal</li></a>
				<a href="home.html"><li>Home</li></a>
				<a href="rules.html"><li>Rules</li></a>
				<a href="join.html"><li>Join</li></a>
				<a href="members.html"><li>Members</li></a>
				<a href="levels.html"><li>Levels</li></a>
				<a href="teachers.html"><li>Move Teachers</li></a>
				<a href="shop.html"><li>Tournaments & Shop</li></a>
				<a href="link-to-me.html"><li>Link To Me</li></a>
			</ul>
			<ul> <strong>Multimedia</strong>
				<a href="images.html"><li>Images</li></a>
				<a href="#"><li>Clips</li></a>
			</ul>
			<ul> <strong>Links</strong>
				<a href="#"><li>AIM</li></a>
				<a href="#"><li>Neopets</li></a>
			</ul>
		</div>
		<div class="home-text">
			<div class="news">
				<h2>Rules</h2>
				<ol>
					<li>Must have 1 one character two rp with. It can be made-up or real char. Remember 1st come first serve.</li>

					<li>All power levels will start at 50,000 unless you want it lower. No one can make there power level higher, only I can.</li>

					<li>You are only allowed to do the following, Good can kill evil, evil can kill good, and evil can kill evil cause evil dont care. No good killing good.</li>

					<li>Do not insult or hurt the other rpers feelings about roleplaying.</li>

					<li>Marriage is allowed, But the mother has to rp the child until someone will rp for that child. Un rped ppl will be posted on front page under updates.</li>

					<li>If you die you will atomatically go to snake road for 3 days then come back to earth, but with a halo on your head.</li>

					<li>You need AIM to rp cuz thats where were going to do it. You also need to finish the join page.</li>

					<li>If you have any changes you want to make for the rules, email me with the email address on the bottom.</li>
				</ol>
				
			</div>
		</div>
	</section>

	<footer>
		<p>Email: ultimate_saiyan@cox.net</p>
	</footer>

</body>
</html>