<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shadow Abyss Realm | Home</title>
	<link rel="stylesheet" type="text/css" href="shadow-style.css">
</head>
<body>

	<header>
		<h1>Shadow Abyss Realm</h1>
		<img class="banner" src="lightning-banner.jpg">
	</header>

	<section class="main-section">
		<div class="navigation">
			<ul> <strong>Main</strong>
				<a href="shadow-abyss-realm.html"><li>Portal</li></a>
				<a href="home.html"><li>Home</li></a>
				<a href="rules.html"><li>Rules</li></a>
				<a href="join.html"><li>Join</li></a>
				<a href="members.html"><li>Members</li></a>
				<a href="levels.html"><li>Levels</li></a>
				<a href="teachers.html"><li>Move Teachers</li></a>
				<a href="shop.html"><li>Tournaments & Shop</li></a>
				<a href="link-to-me.html"><li>Link To Me</li></a>
			</ul>
			<ul> <strong>Multimedia</strong>
				<a href="images.html"><li>Images</li></a>
				<a href="#"><li>Clips</li></a>
			</ul>
			<ul> <strong>Links</strong>
				<a href="#"><li>AIM</li></a>
				<a href="#"><li>Neopets</li></a>
			</ul>
		</div>
		<div class="home-text">
			<div class="news">
				<h2>Tournament!</h2>
				<p>
					Welcome to the tournament section! A tournament will begin the 1st day of every week. If you enter, you will receive 50,000 pl and 5,000 coins for every player you defeat! Winners will receive, 200,000 coins for the shop and A huge Trophy(whitch will be posted on your rpers page). Rules for the rpg apply to the tournament, but no auto deaths alowed.
					<br><br>
					Want a new way to get money? Email me your own shop you want to bulid and it will be posted here!
				</p>

				<h2>Shop / <span class="author-gray">Posted by: Ryushi Markal</span></h2>
				<p>
					<strong>Swords</strong><br>
					Death Sword= A sword that may kill an opponent in 1 hit. 100,000<br>
					Farie Sword= A sword with wings that enables it to fly. 30,000<br>
					Regular Sword= A regular sword. 5,000<br>
					Beam Sword= a swish of this sword and a beam comes out of the tip.50,000<br>
					<br><strong>Magic</strong><br>
					((I got most of these from a game called Grandia))<br>
					Zap All= lightning bolts strike foe with tramendous power.30,000<br>
					HellBurner= Fire from the sun comes down and hits enemy.50,000<br>
					Ba-Boom=Huge explosion.40,000<br>
					White Apocalypse=Beam hitting planet, making foe into dust, auto death. 100,000<br>
					Howl=silver blades hit opponent. 20,000<br>
					<br><strong>Misc.</strong><br>
					Wings of Death. Wings that enable you to have Bukujutsu and Fallen Wings(grandia move). Fallen Wings is a very powerfull attack, You fly up even to the moon, open your wings wide, two energy balls form in your hands, and you fire them at your foe. 100,000<br>
					<br>
					You May also buy attacks from other players. All must cost 50,000 or less. If its a auto death move it can be 100,000 or less.<br>
					More Coming Soon<br>
					<br>
					<br><strong>Card Shop</strong><br>
					Hint: Wonder how to transform a card? Each person you defeat is 50 exp. points. once you get to 1,000 exp. your monster card will be able to transform, not all cards transform though.<br>
					<br>
					Copy Card = 5,000<br>
					No cards availiable at this shop right now but there will be soon.<br>
				</p>

				<h2>Shop / <span class="author-gray">Posted by: Goten</span></h2>
				<p>
					Zed Sword - The Legendary Zed Sword was introduced to us during the Buu Saga. It is a holy sword that was stuck in the ground by an 'incredibly strong evil fellow' (according to Rou Dai Kaioshin) after the evil fellow trapped Rou in the sword. It had been stuck in the rocks for fifteen generations of Kaioshins, who all tried to pull the sword out. It was said that whoever succeeded in pulling the sword out would receive incredible power, enough power to defeat even Buu. However, the receiving of the power was far different than anyone could have guessed.
					<br><br>
					Tapion Sword - The warrior Tapion wielded a Legendary Blade that was identical to Minosha's except for the decorations. During movie 13, Tapion does not fight much, but at the end of the movie he gives his sword to Trunks. This was an attempt by TOEi to explain how Trunks got his sword, but it leaves a lot of plot holes. How trunks came upon this sword in the real timeline is unknown. After a while of using it, Trunks becomes very precise in his movements, and with the sword combined with his Super Saiya-jin power, he became a very formidable foe. It was with this sword that he defeated the Tyrant Furiza and King Cold.
					<br><br>
					Janemba Sword - Janemba's Sword is seen in movie 12 and is used only by his second form. The sword is a deep red color, with a silver hilt and is by far the coolest looking sword in dbz. He uses the sword against Goku, and although he was an excellent swordsmen, Goku eventually killed him anyway - 20,000$
					<br><br>
					Scouter In space, the warriors that were unable to sense ki by mind-skill alone had to use a Scouter. These were first invented by the genius race Tsufuru-jin. After the Saiya-jin destroyed the Tsufuru-jin, they adapted their technology as their own. When the Saiya-jin's were under the reign of Lord Furiza, the Scouter began to be used by just about everyone, including Furiza himself.
					<br><br>
					Regeneration Tank - The Regeneration Tank was a tank that filled itself up with a chemical very similar to the person inside it's DNA. The chemical would heal all the wounds of the person in record time, allowing warriors to get back to fighting quicker.
					<br><br>
					Dragon Radar - In order to make searching for the Dragonball's easier, Bulma invented a Dragon Radar that homed in on the unique properties of each ball and told exactly where they were through a grid-like map. In GT, the little robot giru ate the dragon radar and then turned into a dagon radar with the screen on his back
					<br><br>
					Escaflowne:A mecha that is used for battle,can change into a Dragon. $100,000
				</p>
				
			</div>
		</div>
	</section>

	<footer>
		<p>Email: ultimate_saiyan@cox.net</p>
	</footer>

</body>
</html>